<div id="<%= dom_id discount %>">
  <p>
    <strong>Name:</strong>
    <%= discount.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= discount.code %>
  </p>

  <p>
    <strong>Percentage:</strong>
    <%= discount.percentage %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= discount.start_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= discount.expiry_date %>
  </p>

</div>
