<div id="<%= dom_id promotion %>">
  <p>
    <strong>Name:</strong>
    <%= promotion.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= promotion.code %>
  </p>

  <p>
    <strong>Free items:</strong>
    <%= promotion.free_items %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= promotion.start_date %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= promotion.expiry_date %>
  </p>

</div>
